body {
    padding: 20px
}

table, th, td {
   border: 1px solid black;
   padding: 2px;
}

table {
    width: 100%;
}

th {
    height: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.title {
  text-align: center;
  color: red;
}

label:hover {
  cursor: pointer;
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);
}
